body {
  margin: 2.5em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 0.625em;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.5em;
}

.box.a{
  grid-row: span 2;
  order: -1;
}

.box.b{
  order: 1;
}

.box.d{
  grid-column: span 2;
  order: -1;
}